.diagonal-section {
    margin: 0;
    border: 0;
    padding: 0;
    height: 32%;
    background-image: linear-gradient(#222f3e, #404756);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    /* change the calc height to a percentage height to get alternate responsive behavior*/
  }
  