/* top green #5CA4A9 */
.st0 {
  fill: #5ca4a9;
}
/* paper #E6EBE0*/
.st1 {
  fill: #f1faee;
}
/* pen */
.st2 {
  fill: #cbccca;
}
/* left red #ED6A5A*/
.st3 {
  fill: #ed6a5a;
}
/* right yellow  #F4F1BB*/
.st4 {
  fill: white;
}

#mail-icon {
  width: 120px;
  cursor: pointer;
}



.mail-mobile-cropper {
  height: 68px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
  box-shadow: -1px 15px 30px -12px black;
  user-select: none;
  background-color: #222f3e;
}


#mail-icon-mobile {
  margin-top: 5px;
  width: 68px;
  cursor: pointer;
/* background-color: tomato; */
  
}


