[class^="tooltip"] {
  position: relative;
}
[class^="tooltip"]:after {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  content: attr(data-tooltip);
  padding: 6px 10px;
  top: 1.4em;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%) translateY(-2px);
  background: #0b0c0d;
  color: white;
  white-space: nowrap;
  z-index: 2;
  border-radius: 2px;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1),
    transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
[class^="tooltip"]:hover:after {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.tooltip--left:after {
  top: -4px;
  left: 0;
  transform: translateX(-32%) translateY(60%);
}
.tooltip--left:hover:after {
  transform: translateX(-60%) translateY(60%);
}

/* TOOLTIP */
