/* @font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Light.woff2") format("woff2"),
    url("./assets/fonts/Dubai-Light.woff") format("woff"),
    url("./assets/fonts/DUBAI-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow:hidden; */
}

.App {
  background-color: #f1faee;
  text-align: center;
}

/* Welcome Header START*/

html h5 {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 300;
}

html h5 strong {
  font-size: 3rem;
  font-weight: 300;
}

html .profile-name h5 {
  margin-left: -18.8rem;
}

html .profile-engineer h5 {
  margin-left: -2.8rem;
}

.welcome-section {
  background-color: #2e86de;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  /* font-family: 'Dubai'; */
  font-weight: 300;
  /* font-style: normal; */
}
.mail {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 1030;
}
.image-cropper {
  margin-top: -111px;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  /* border: 3px solid black; */
  z-index: 10;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
  box-shadow: 2px 0 48px -3px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.profile-pic {
  margin-left: -5%;
  height: 110%;
  width: auto;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /*  Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  /* None drag */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Welcome Header END*/

/* Coming Soon START*/

html .coming-soon-section {
  background-color: white;
  background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-unsplash.jpg);

  font-size: calc(10px + 2vmin);
  color: #000;
  height: 90vh;
  font-family: "Raleway", sans-serif;
  /* font-family: 'Dubai'; */
  font-weight: 300;
  /* font-style: normal; */

  background-size: 118%;
  background-repeat: no-repeat;
  background-position: top 58% left 95%;
}

.coming-soon-section h1 {
  font-weight: 900;
}

footer {
  background-color: #222f3e;
  height: 10vh;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
