@font-face {
  font-family: "DankMono";
  src: url("./assets/fonts/DankMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/DankMono-Regular.woff") format("woff"),
    url("./assets/fonts/DankMono-Regular.ttf") format("truetype"),
    url("./assets/fonts/DankMono-Regular.svg#DankMono-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DankMono";
  src: url("./assets/fonts/DankMono-Italic.woff2") format("woff2"),
    url("./assets/fonts/DankMono-Italic.woff") format("woff"),
    url("./assets/fonts/DankMono-Italic.ttf") format("truetype"),
    url("./assets/fonts/DankMono-Regular.svg#DankMono-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  --welcome-mobile-ht: 72px;
}

.App {
  background-color: #fff;
  text-align: center;
}

/* Welcome Header START*/
html h5 {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 300;
}

html .pf-hello-only {
  font-size: 3rem;
  font-weight: 300;
  margin-left: -28.8rem;
  margin-top: -4.8rem;
}

html .pf-wo-hello {
  font-size: 3rem;
  font-weight: 300;
  margin-left: -11.8rem;
}

html h5 strong {
  font-size: 3rem;
  font-weight: 300;
}

html .profile-name h5 {
  margin-left: -18.8rem;
}

html .profile-engineer h5 {
  margin-left: -2.8rem;
}

.welcome-section {
  background-color: #2e86de;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
@media (min-aspect-ratio: 560/500) {
  /* LANDSCAPE MODE*/
  .welcome-section-mobile {
    display: none;
  }
  @media (max-width: 900px) {
    /* LANDSCAPE MODE MOBILE*/
    html .pf-hello-only {
      display: none !important;
    }
    html .pf-wo-hello {
      display: none !important;
    }
    @media (max-width: 823px) {
      html .pf-hello-only {
        display: block !important;
      }
      html .pf-wo-hello {
        display: block !important;
      }
      html .profile-name h5 {
        display: none !important;
      }
    }
    .welcome-section {
      height: 168vh;
    }
    .arrow {
      display: none;
    }
  }
  .mail {
    display: none !important;
  }
  @media (min-width: 900px) {
    /* LANDSCAPE DESKTOP TYPICAL  */
    html .pf-hello-only {
      display: none !important;
    }
    html .pf-wo-hello {
      display: none !important;
    }
    .mail {
      display: flex !important;
    }
  }
}
@media (max-aspect-ratio: 560/500) {
  /* PORTRAIT MODE */
  .welcome-section-mobile {
    display: inline-block;
    height: var(--welcome-mobile-ht);
    background-color: #000;
    color: #fff;
    font-family: "DankMono";
    font-weight: normal;
    font-style: normal;
  }
  .profile-name-mobile h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
  }
  .profile-engineer-mobile {
    font-size: 18px;
    color: #5fb6fe;
  }
  .pale-blue-mobile {
    color: #5fb6fe;
  }
  .this-blue-mobile {
    font-family: "DankMono";
    color: #1672d6;
    font-style: italic;
  }
  .profile-engineer-mobile-img img {
    width: 20px;
    height: 20px;
    /* None drag */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .mail {
    display: none !important;
  }
  @media (min-height: 900px) {
    /* HIGHRES PORTRAIT IPAD */
    html .pf-hello-only {
      display: none !important;
    }
    html .pf-wo-hello {
      display: none !important;
    }
    @media (max-width: 800px) {
      html .pf-hello-only {
        display: block !important;
      }
      html .pf-wo-hello {
        display: block !important;
      }
      html .profile-name h5 {
        display: none !important;
      }
    }
  }
  @media (max-height: 900px) {
    /* MOBILE PORTRAIT TYPICAL */
    .welcome-section {
      display: none;
    }
  }
}

.mail {
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 1030;
}

.image-cropper {
  margin-top: -111px;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 2px 0 48px -3px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.profile-pic {
  margin-left: -5%;
  height: 110%;
  width: auto;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /*  Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  /* None drag */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Welcome Header END*/

/* Coming Soon START*/
@media (min-aspect-ratio: 560/500) {
  /* LANDSCAPE MODE*/
  @media (max-width: 900px) {
    /* LANDSCAPE MODE MOBILE*/
    .coming-soon-section {
      background-color: white;
      background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg);
      background-image: -webkit-image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-medium.jpg" 2x
      );
      background-image: image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-medium.jpg" 2x
      );
      color: #000;
      height: 100vh;
      font-family: "Raleway", sans-serif;
      font-size: calc(10px + 2vmin);
      font-weight: 300;
      background-size: 118%;
      background-repeat: no-repeat;
      background-position: top 38% left 100%;
    }
  }

  @media (min-width: 900px) {
    .coming-soon-section {
      /* LANDSCAPE DESKTOP TYPICAL  */
      background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg);
      background-image: -webkit-image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge.jpg" 2x
      );
      background-image: image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge.jpg" 2x
      );
      background-size: 118%;
      background-repeat: no-repeat;
      background-position: top 48% left 95%;
      color: #000;
      height: 90vh;
      font-family: "Raleway", sans-serif;
      font-size: calc(10px + 2vmin);
      font-weight: 300;
    }
  }
}

@media (max-aspect-ratio: 560/500) {
  /* PORTRAIT MODE */
  @media (min-height: 900px) {
    /* HIGHRES PORTRAIT IPAD */
    .coming-soon-section {
      background-color: black;
      background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg);
      background-image: -webkit-image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge-rotated.jpg" 2x
      );
      background-image: image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge-rotated.jpg" 2x
      );
      color: #000;
      height: calc(100vh - var(--welcome-mobile-ht));
      font-family: "Raleway", sans-serif;
      font-size: calc(10px + 2vmin);
      font-weight: 300;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  @media (max-height: 900px) {
    /* MOBILE PORTRAIT TYPICAL */
    .coming-soon-section {
      background-color: black;
      background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg);
      background-image: -webkit-image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge-rotated.jpg" 2x
      );
      background-image: image-set(
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large-rotated.jpg" 1x,
        "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge-rotated.jpg" 2x
      );
      color: #000;
      /* height: 93.2vh; MAX VH for mobile */
      height: calc(93.2vh - var(--welcome-mobile-ht));
      font-family: "Raleway", sans-serif;
      font-size: calc(10px + 2vmin);
      font-weight: 300;
      background-size: 180%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
    @media (max-height: 736px) {
      .coming-soon-section {
        background-position: center bottom 28%;
      }
    }
    @media (max-height: 640px) {
      .coming-soon-section {
        background-position: center bottom 33%;
      }
    }
    @media (max-height: 568px) {
      .coming-soon-section {
        background-position: center bottom 43%;
      }
    }
  }
}

/* THE THREE STOGGIES */
.coming-soon-section .underconstruction {
  padding-top: 8vh;
  padding-bottom: 0;
  margin: 0;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}
.coming-soon-section .pound {
  padding-top: 8vh;
  padding-bottom: 0;
  margin: 0;
  color: #54a0ff;
  font-weight: 900;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
}
.coming-soon-section h1 {
  font-weight: 800;
  letter-spacing: 0.05rem;
  padding-top: 0;
  margin-top: 0;
}
.coming-soon-section .checkout {
  color: #576574;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}
@media (min-aspect-ratio: 560/500) {
  /* LANDSCAPE MODE*/
  @media (min-width: 900px) {
    /* LANDSCAPE DESKTOP TYPICAL  */
    .coming-soon-section .checkout {
      margin-top: 0.25rem;
    }
  }
  @media (min-height: 750px) {
    /* LARGE SCREEN DESKTOP*/
    .coming-soon-section .checkout {
      margin-top: 0.5rem;
    }
  }
}
@media (max-aspect-ratio: 560/500) {
  /* PORTRAIT MODE */
  @media (min-height: 900px) {
    /* HIGHRES PORTRAIT IPAD */
  }
  @media (max-height: 900px) {
    /* MOBILE PORTRAIT TYPICAL */
    .coming-soon-section .pound {
      padding-top: 4vh;
    }
    .coming-soon-section .underconstruction {
      padding-top: 4vh;
    }
    .coming-soon-section h1 {
      letter-spacing: 0px;
      margin-bottom: 0;
    }
    .coming-soon-section .checkout {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

footer {
  background-color: #222f3e;
  height: 10vh;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-aspect-ratio: 560/500) {
  /* LANDSCAPE MODE*/
  @media (max-width: 900px) {
    /* LANDSCAPE MODE MOBILE*/
    footer {
      display: none !important;
    }
    .footer-mobile {
      display: flex !important;
      position: fixed;
      top: 96px;
      height: 0;
      right: 4vw;
    }
    .mail-mobile {
      display: flex !important;
      position: fixed;
      top: 18px;
      height: 0;
      right: 4vw;
    }
  }
  @media (min-width: 900px) {
    /* LANDSCAPE DESKTOP TYPICAL  */
    .mail-mobile {
      display: none !important;
    }
    .footer-mobile {
      display: none !important;
    }
  }
}
@media (max-aspect-ratio: 560/500) {
  /* PORTRAIT MODE */
  footer {
    display: none !important;
  }

  @media (min-height: 900px) {
    /* HIGHRES PORTRAIT IPAD */
    .footer-mobile {
      display: flex !important;
      position: fixed;
      top: 91vh;
      height: 0;
      right: 96px;
    }
    .mail-mobile {
      display: flex !important;
      position: fixed;
      top: 88vh;
      height: 0;
      right: 18px;
    }
  }
  @media (max-height: 900px) {
    /* MOBILE PORTRAIT TYPICAL */
    .footer-mobile {
      display: flex !important;
      position: fixed;
      top: 83.6vh;
      height: 0;
      right: 96px;
    }
    .mail-mobile {
      display: flex !important;
      position: fixed;
      top: 82vh;
      height: 0;
      right: 18px;
    }
  }
}
/* Coming Soon Section END*/

/* BootStrap Override CSS START*/
html .carousel {
  --cardW: 30vw;
  --cardH: 42vh;
  width: var(--cardW);
  height: var(--cardH);
  margin-top: 3.2vh;
  margin-left: 30vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

.carousel-indicators {
  display: none;
  position: absolute;
  margin-bottom: -30px;
}

html .carousel-control-next-icon,
html .carousel-control-prev-icon {
  margin-top: calc(var(--cardH) / -2);
}

html .card {
  width: var(--cardW);
  height: var(--cardH);
  border: none;
  border-radius: 5px;
}

html .card-title {
  font-weight: 800;
  display: none;
  font-family: "Raleway", sans-serif;
}

html .card-body {
  padding: 0.8rem;
  /* min-height: 8rem; */
  font-weight: 800;
  color: #576574;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

html .card-text {
  height: 8vh;
}

html .btn-primary {
  font-size: 1rem;
  margin-top: auto;
  font-family: "Raleway", sans-serif;
}

.card-img-top {
  height: calc(var(--cardH) / 2);
  object-fit: cover;
  /* None drag */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (min-aspect-ratio: 560/500) {
  /* LANDSCAPE MODE*/
  @media (max-width: 900px) {
    /* LANDSCAPE MODE MOBILE*/
    html .btn-primary {
      display: none;
    }
    html .carousel {
      margin-left: 38vw;
      --cardW: 42vw;
      --cardH: 44vh;
      width: var(--cardW);
      height: var(--cardH);
    }
  }
  @media (min-width: 900px) {
    /* LANDSCAPE DESKTOP TYPICAL  */
    .card-image-href {
      pointer-events: none;
      cursor: default;
    }
  }
  @media (min-height: 750px) {
    /* LARGE SCREEN DESKTOP*/
    html .carousel {
      margin-top: 7.2vh;
    }
    html .card-text {
      height: 11vh;
    }
  }
}
@media (max-aspect-ratio: 560/500) {
  /* PORTRAIT MODE */
  .card-image-href {
    pointer-events: none;
    cursor: default;
  }
  @media (min-height: 900px) {
    /* HIGHRES PORTRAIT IPAD */
    html .card-text {
      height: 7vh;
    }
    html .carousel {
      margin-top: 4vh;
      margin-left: 0;
      --cardW: 60vw;
      --cardH: 30vh;
      width: var(--cardW);
      height: var(--cardH);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-height: 900px) {
    /* MOBILE PORTRAIT TYPICAL */
    html .card-text {
      height: 8vh;
    }
    html .carousel {
      margin-top: 2vh;
      margin-left: 0;
      --cardW: 82vw;
      --cardH: 38vh;
      width: var(--cardW);
      height: var(--cardH);
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
}
/* BootStrap Override CSS END*/
