/* @font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Light.woff2") format("woff2"),
    url("./assets/fonts/Dubai-Light.woff") format("woff"),
    url("./assets/fonts/DUBAI-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* overflow:hidden; */
}

.App {
  background-color: #f1faee;
  text-align: center;
}

/* Welcome Header START*/
html h5 {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 300;
}

html h5 strong {
  font-size: 3rem;
  font-weight: 300;
}

html .profile-name h5 {
  margin-left: -18.8rem;
}

html .profile-engineer h5 {
  margin-left: -2.8rem;
}

.welcome-section {
  background-color: #2e86de;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  /* font-family: 'Dubai'; */
  font-weight: 300;
  /* font-style: normal; */
}

.mail {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 1030;
}

.image-cropper {
  margin-top: -111px;
  width: 168px;
  height: 168px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 2px 0 48px -3px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.profile-pic {
  margin-left: -5%;
  height: 110%;
  width: auto;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /*  Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  /* None drag */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* Welcome Header END*/

/* Coming Soon START*/
.coming-soon-section {
  background-color: white;
  background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg);
  background-image: -webkit-image-set(
    "./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg" 1x,
    "./assets/images/hello-i-m-nik-MAgPyHRO0AA-medium.jpg" 2x
  );
  background-image: image-set(
    "./assets/images/hello-i-m-nik-MAgPyHRO0AA-small.jpg" 1x,
    "./assets/images/hello-i-m-nik-MAgPyHRO0AA-medium.jpg" 2x
  );
  color: #000;
  height: 90vh;
  font-family: "Raleway", sans-serif;
  font-size: calc(10px + 2vmin);
  /* font-family: 'Dubai'; */
  font-weight: 300;
  /* font-style: normal; */

  background-size: 118%;
  background-repeat: no-repeat;
  background-position: top 38% left 100%;
}
@media (min-width: 900px) {
  .coming-soon-section {
    background-image: url(./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg);
    background-image: -webkit-image-set(
      "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg" 1x,
      "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge.jpg" 2x
    );
    background-image: image-set(
      "./assets/images/hello-i-m-nik-MAgPyHRO0AA-large.jpg" 1x,
      "./assets/images/hello-i-m-nik-MAgPyHRO0AA-extralarge.jpg" 2x
    );

    background-size: 118%;
    background-repeat: no-repeat;
    background-position: top 48% left 95%;
  }
}

.coming-soon-section .underconstruction {
  padding-top: 8vh;
  padding-bottom: 0;
  margin: 0;

  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.01rem;
}

.coming-soon-section .pound {
  padding-top: 8vh;
  padding-bottom: 0;
  margin: 0;

  color: #54a0ff;
  font-weight: 900;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
}

.coming-soon-section h1 {
  font-weight: 800;
  letter-spacing: 0.05rem;
  padding-top: 0;
  margin-top: 0;
}

.coming-soon-section .checkout {
  color: #576574;
  font-weight: 500;
  font-size: 1rem;
  /* letter-spacing: 1px; */
}

footer {
  background-color: #222f3e;
  height: 10vh;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Coming Soon Section END*/

/* BootStrap Override CSS START*/
html .carousel {
  width: 30vw;
  margin-top: 2vh;
  margin-left: 30vw;
  border-radius: 5px;
  /* box-shadow: -1px 15px 30px -12px black; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
  0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
  0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
  0 81px 81px rgba(0, 0, 0, 0.07); */
  height: 42vh;
  overflow: hidden;
  /* border: 1px solid #e5e5e5; */
}
@media (min-height: 750px) {
  html .carousel {
    margin-top: 6vh;
  }
}
.carousel-indicators {
  display: none;
  position: absolute;
  margin-bottom: -30px;
}

html .carousel-control-prev-icon {
  margin-top: -8rem;
}

html .carousel-control-next-icon {
  margin-top: -8rem;
}

html .card {
  border: none;
  border-radius: 5px;
}

html .card-title {
  font-weight: 800;
  display: none;
}

html .card-body {
  padding: 0.8rem;
  /* min-height: 8rem; */
  font-weight: 800;
  color: #576574;
  font-weight: 500;
  font-size: 0.9rem;
}

html .card-text {
  height: 8vh;
}
@media (min-height: 750px) {
  html .card-text {
    height: 11vh;
  }
}

html .btn-primary {
  /* font-weight: 800; */
  font-size: 1rem;
  margin-top: auto;
}

.card-img-top {
  /* width: 100%; */
  /* display: block; */
  /* margin: 0 auto; */
  height: 20vh;
  object-fit: cover;
  /* None drag */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* BootStrap Override CSS END*/